* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

// create a border around the button
// button {
//   padding: 10px 20px;
//   border: none;
//   border-radius: 5px;
//   background-color: #007bff;
//   color: #fff;
//   font-size: 16px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: #0056b3;
//   }
// }
